body {
  font-family: Segoe UI, Helvetica, sans-serif;
}

.wf-active body {
  font-family: "Open Sans", "Segoe UI", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
  margin-bottom: 0;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5 {
  font-family: Oswald, Georgia, serif;
  font-weight: normal;
}

a {
  color: #00447c;
}

p {
  max-width: 36em;
  margin-top: 0;
}

.intro {
  font-size: 112.5%;
}

.doclink {
  font-style: italic;
}

.duration {
  font-style: italic;
}

.wrapper {
  margin-left: 1em;
  margin-right: 1em;
}

@media (min-width: 36em) {
  .wrapper {
    margin-left: 5%;
  }
}

.software {
  display: flex;
  flex-wrap: wrap;
  max-width: 47em;
}

.software h3 {
  width: 100%;
}

.software article {
  flex: 1 1 0;
  min-width: 14em;
  max-width: 100%;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #888;
  padding-top: 1em;
}

@media print {
  article,
  ul {
    break-inside: avoid;
  }
}
